@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');


.header{
  font-family: 'Capriola', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  margin: 30px;
}

.card {
  height: max-content + 50px;
  width: min-content + 30px;
  background-color: #444291;
  text-align: center;
  box-shadow: 5px 5px 20px 1px black;
  transition: all 200ms ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
.card:active {
  transform: scale(0.9);
}

.Cards {
  overflow-y: scroll;
  height: 475px;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid black;
  background-color: rgb(180, 180, 180);
}